body {
  background-color: #674baf;
  background-image: url(../../images/bg-mobile.svg);
  background-repeat: no-repeat;
  margin: 2rem;
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
}

h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.04rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0;
}

button {
  border: none;
  border-radius: 1rem;
  color: #674baf;
  filter: drop-shadow(4px 4px 1px black);
  font-family: "Open Sans", sans-serif;
  font-size: .75rem;
  padding: .6rem;
  width: 70%;
}

button:hover {
  background-color: #e882e8;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-container {
  margin-bottom: 3.5rem;
}

.logo {
  width: 7.75rem;
}

.main-image-container {
  margin-bottom: 3.5rem;
  padding: 0;
}

.main-image {
  padding: 0;
}

.copy-cta-container {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0;
}

.main-headline {
  margin: 0 0 1rem;
}

.body-copy {
  margin-bottom: 3rem;
}

button:focus {
  outline: 0;
}

.register-cta {
  border-radius: 1.5625rem;
  filter: drop-shadow(0.5px 0.5px 2px black);
  font-size: .85rem;
  height: 2.75rem;
  width: 13rem;
}

a .fab, div .fab, i .fab {
  display: flex;
  line-height: 1.75;
  text-decoration: none;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  margin: 0 0 1.5rem;
}

.social-icon {
  border: 1px solid;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  margin: 0 .4rem;
  width: 1.875rem;
}

.social-icon:hover {
  color: #e882e8;
}

.attribution {
  color: black;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: black;
  text-decoration: underline;
}

@media (min-width: 376px) {
  body {
    background-image: url("../../images/bg-desktop.svg");
    margin: 2rem 5rem;
  }
  .logo {
    width: 11rem;
  }
}
